---
layout: default
styles:
- "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"
scripts:
- "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
- "/js/skills-stick.js"
---

<!-- Intro Section -->
<section id="intro">
    <div class="row">
      <div class="seven columns slider-text">
        <h1>Aprende a programar<span>:</span></h1>
        <p class="hidden-sm">Aprende programación de forma práctica.</p>
        <p>Desarrolla sitios web, aplicaciones móviles, programas de escritorio, videojuegos y más.</p>
      </div>
      <div class="five columns slider-text">
        <p>Suscríbete a nuestra lista y recibe contenido exclusivo cada semana!</p>

        {% include subscribe.html %}
      </div>
    </div>
  </section> <!-- Intro Section End-->

  <section id="skills">
    <a href="https://series.programacionymas.com/aprende-bases-de-datos">
      <img src="/images/skills/mysql.png" class="skill" alt="Logo MySQL" title="Aprende a modelar bases de datos">  
    </a>
    <a href="https://series.programacionymas.com/aprende-php-y-mysql-desarrollando-una-intranet">
      <img src="/images/skills/php.png" class="skill" alt="Logo PHP" title="Aprende a desarrollar un sistema en PHP">  
    </a>
    <a href="https://series.programacionymas.com/aprende-laravel-desarrollando-un-sistema">
      <img src="/images/skills/laravel.png" class="skill" alt="Logo Laravel" title="Aprende a desarrollar un sistema usando Laravel">
    </a>
    <a href="https://series.programacionymas.com/categoria/android">
      <img src="/images/skills/android.png" class="skill" alt="Logo Android" title="Aprende a desarrollar aplicaciones móviles">
    </a>
    <a href="https://series.programacionymas.com/aprende-webpack-paso-a-paso">
      <img src="/images/skills/webpack.svg" class="skill" alt="Logo Webpack 2" title="Aprende Webpack paso a paso">
    </a>
    <a href="https://series.programacionymas.com/categoria/frontend">
      <img src="/images/skills/html5.png" class="skill" alt="Logo HTML5" title="Aprende Canvas (HTML5)">
    </a>        
  </section>

  <!-- Info Section  -->
  <section id="info">
    <div class="row text-center">

      <p class="text-center"><strong>Hola, ¿en qué te puedo ayudar?</strong></p>

      <div class="bgrid-halves">
        <div class="columns">
          <a href="/tutoriales" class="button">Deseo aprender a programar</a>
          <p>
            Aprende programación viendo videos sobre distintas tecnologías.
            Tenemos tutoriales de muchos temas.
          </p>
        </div>
        <div class="columns s-first">
          <a href="/contacto" class="button">Necesito ayuda con un proyecto</a>
          <p>
            ¿Estás aprendiendo y necesitas ayuda en un tema específico?
            ¿Tienes un proyecto en mente? Cuéntanos más.
          </p>
        </div>
      </div>

    </div>
  </section> <!-- Info Section End-->

<!-- Works Section
  ================================================== -->
  <section id="works">

    <div class="row">

     <div class="twelve columns align-center">
      <h2>Nuestros últimos proyectos.</h2>
    </div>

    <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

     <div class="columns portfolio-item">
       <div class="item-wrap">
         <a href="/portafolio/urgencia-legal">
           <img alt="Urgencia Legal" src="images/portfolio/urgencia-legal.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio/urgencia-legal">Urgencia legal</a></h5>
           <p>Plataforma web</p>
         </div>
       </div>
     </div>

     <div class="columns portfolio-item">
       <div class="item-wrap">
         <a href="/portafolio/jordi-adsera">
           <img alt="Jordi Adsera" src="images/portfolio/jordi-adsera.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio/jordi-adsera">Jordi Adsera</a></h5>
           <p>Sitio web</p>
         </div>
       </div>
     </div>

     <div class="columns portfolio-item s-first">
       <div class="item-wrap">
         <a href="/portafolio/home-solution">
           <img alt="Home Solution" src="images/portfolio/home-solution.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio/home-solution">Home Solution</a></h5>
           <p>Aplicación móvil</p>
         </div>
       </div>
     </div>

     <div class="columns portfolio-item">
       <div class="item-wrap">
         <a href="/portafolio/yo-separo">
           <img alt="# yo separo" src="images/portfolio/yo-separo.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio/yo-separo"># yo separo</a></h5>
           <p>Juego interactivo</p>
         </div>
       </div>
     </div>

   </div>

 </div>

</section> <!-- Works Section End-->

<!-- Journal Section
  ================================================== -->
  <section id="journal">

    <div class="row">
     <div class="twelve columns align-center">
      <h2>Últimas publicaciones.</h2>
    </div>
  </div>

  <div class="blog-entries">


    {% for post in site.posts limit:3 %}
    <article class="row entry">

      <div class="entry-header">

       <div class="permalink">
        <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><i class="fa fa-link"></i></a>
      </div>

      <div class="ten columns entry-title pull-right">
        <h3>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a>
        </h3>
      </div>

      <div class="two columns post-meta end">
        <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-date">
          {{ post.date | date: "%d/%m/%Y" }}
        </time>
        <span class="dauthor">
          {% for category in post.categories %}
          <a href="{{ site.baseurl }}categories/#{{ category }}">{{ category }}</a>
          {% endfor %}
        </span>  
      </div>

    </div>

    <div class="two columns post-meta">
      <p class="tagcloud">     
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> 
        {% endfor %}
      </p>
    </div>

    <div class="ten columns post-content">
     <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;
     <a class="more-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">Leer más<i class="fa fa-arrow-circle-o-right"></i></a></p>
   </div>

 </article>
 {% endfor %}

</div> <!-- Entries End -->

</section> <!-- Journal Section End-->

<!-- Call-To-Action Section
  ================================================== -->
  <section id="call-to-action">
    <div class="row">

     <div class="eight columns offset-1">

      <h2><a href="#">¿Necesitas ayuda?</a></h2>
      <p>Coméntanos más acerca de tu situación <a href="/contacto"><span>aquí</span></a>,
        y nos pondremos en contacto contigo <span>muy pronto</span>.
      </p>
    </div>

    <div class="three columns action">
      <a href="/contacto" class="button">Contactar</a>
    </div>

  </div>
</section> <!-- Call-To-Action Section End-->
