---
layout: default
---

<!-- Intro Section
  ================================================== -->
  <section id="intro">
    <div class="row">
      <div class="twelve columns slider-text">

        <h1>Aprende a programar<span>:</span></h1>
        <p>Aprende sobre programación de forma práctica.</p>
        <p>Desarrolla sitios web, aplicaciones móviles, programas de escritorio, videojuegos y más.</p>

      </div>
    </div>
  </section> <!-- Intro Section End-->

<!-- Info Section
  ================================================== -->
  <section id="info">

    <div class="row">
     <div class="bgrid-thirds">

       <div class="columns">
        <h2><a href="/blog">Blog.</a></h2>
        <p>
          Accede a nuestro blog y consulta nuestras publicaciones.
          Encontrarás artículos sobre programación y temas afines.
        </p>
      </div>

      <div class="columns">
        <h2><a href="/tutoriales">Video tutoriales.</a></h2>
        <p>
          Aprende programación viendo videos sobre distintas tecnologías.
          Tenemos tutoriales de muchos temas.
        </p>
      </div>

      <div class="columns s-first">
        <h2><a href="/contacto">Asesoría.</a></h2>
        <p>
          ¿Estás aprendiendo y necesitas ayuda en un tema específico?
          ¿Estas realizando un proyecto pero tienes dudas?
        </p>
      </div>

    </div>
  </div>

</section> <!-- Info Section End-->

<!-- Works Section
  ================================================== -->
  <section id="works">

    <div class="row">

     <div class="twelve columns align-center">
      <h2>Nuestros últimos proyectos.</h2>
    </div>

    <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

     <div class="columns portfolio-item">
       <div class="item-wrap">
         <a href="/portafolio">
           <img alt="Urgencia Legal" src="images/portfolio/urgencia-legal.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio">Urgencia legal</a></h5>
           <p>Plataforma web</p>
         </div>
       </div>
     </div>

     <div class="columns portfolio-item">
       <div class="item-wrap">
         <a href="/portafolio">
           <img alt="Jordi Adsera" src="images/portfolio/jordi-adsera.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio">Jordi Adsera</a></h5>
           <p>Sitio web</p>
         </div>
       </div>
     </div>

     <div class="columns portfolio-item s-first">
       <div class="item-wrap">
         <a href="/portafolio">
           <img alt="Home Solution" src="images/portfolio/home-solution.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio">Home Solution</a></h5>
           <p>Aplicación móvil</p>
         </div>
       </div>
     </div>

     <div class="columns portfolio-item">
       <div class="item-wrap">
         <a href="/portafolio">
           <img alt="# yo separo" src="images/portfolio/yo-separo.png">
           <div class="overlay"></div>
           <div class="link-icon"><i class="fa fa-link"></i></div>
         </a>
         <div class="portfolio-item-meta">
           <h5><a href="/portafolio"># yo separo</a></h5>
           <p>Juego interactivo</p>
         </div>
       </div>
     </div>

   </div>

 </div>

</section> <!-- Works Section End-->

<!-- Journal Section
  ================================================== -->
  <section id="journal">

    <div class="row">
     <div class="twelve columns align-center">
      <h2>Últimas publicaciones.</h2>
    </div>
  </div>

  <div class="blog-entries">


    {% for post in site.posts limit:3 %}
    <article class="row entry">

      <div class="entry-header">

       <div class="permalink">
        <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><i class="fa fa-link"></i></a>
      </div>

      <div class="ten columns entry-title pull-right">
        <h3>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a>
        </h3>
      </div>

      <div class="two columns post-meta end">
        <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-date">
          {{ post.date | date: "%d/%m/%Y" }}
        </time>
        <span class="dauthor">
          {% for category in post.categories %}
          <a href="{{ site.baseurl }}categories/#{{ category }}">{{ category }}</a>
          {% endfor %}
        </span>  
      </div>

    </div>

    <div class="two columns post-meta">
      <p class="tagcloud">     
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> 
        {% endfor %}
      </p>
    </div>

    <div class="ten columns post-content">
     <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;
     <a class="more-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">Leer más<i class="fa fa-arrow-circle-o-right"></i></a></p>
   </div>

 </article>
 {% endfor %}

</div> <!-- Entries End -->

</section> <!-- Journal Section End-->

<!-- Call-To-Action Section
  ================================================== -->
  <section id="call-to-action">
    <div class="row">

     <div class="eight columns offset-1">

      <h1><a href="#">¿Necesitas ayuda?</a></h1>
      <p>Coméntanos sobre el proyecto que deseas <a href="/contacto"><span>aquí</span></a>,
        y nos pondremos en <span>contacto</span> contigo <span>muy pronto</span>.
      </p>
    </div>

    <div class="three columns action">
      <a href="/contacto" class="button">Solicitar</a>
    </div>

  </div>
</section> <!-- Call-To-Action Section End-->
