<!-- Header
================================================== -->
<header>
    <div class="row">
        <div class="twelve columns">

            <div class="logo">
                <a href="/" title="enlace la página de inicio de {{ site.title }}">
                    <img alt="{{ site.title }}" title="Aprende a programar" src="/images/logo-horizontal.png">
                </a>
            </div>

            <nav id="nav-wrap">
                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
                <ul id="nav" class="nav">
                    <li><a href="/tutoriales">Aprende</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><span><a href="#">Servicios</a></span>
                        <ul>
                            <li><a href="https://programacionymas.typeform.com/to/zFalJY">Desarrollo de aplicaciones</a></li>
                            <li><a href="/asesoria">Asesoría académica</a></li>
                        </ul>
                    </li>
                    <li><a href="/portafolio">Portafolio</a></li>
                    <li><a href="/about">Acerca de</a></li>
                </ul> <!-- end #nav -->
            </nav> <!-- end #nav-wrap -->

        </div>
    </div>
</header> <!-- Header End -->
