<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 28 }}">
  {% elsif page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  <meta name="author" content="{{ site.title }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  
  {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 28 }}">
  {% elsif page.description %}
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}


  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}/images/programacion-y-mas.png" />
  {% endif %}
  
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

{% comment %}

  <meta name="wtf1" content="{{ page.url | prepend: site.url }}">
  Imprime https://programacionymas.com/blog/aprende-laravel-sistema-gestion-incidencias/

  <meta name="wtf2" content="{{ page.url }}"> 
  Imprime /blog/aprende-laravel-sistema-gestion-incidencias/

  <meta name="wtf3" content="{{ site.url }}"> 
  Imprime https://programacionymas.com

{% endcomment %}

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/media-queries.css">

    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "company",
      "name" : "Programación y más",
      "url" : "https://programacionymas.com",
      "sameAs" : [
        "https://www.facebook.com/programacionymas",
        "https://www.linkedin.com/in/juan-ramos-840bb741",
        "https://twitter.com/programacionym",
        "https://plus.google.com/+SorcJC"
      ]
    }
    </script>
</head>
