---
layout: default
permalink: /about/
title: Programación y más | Acerca de
description: Conoce un poco más acerca del autor de Programación y más. No dudes en contactarlo si tienes dudas.
---

 <!-- Page Title
 ================================================== -->
 <div id="page-title">

    <div class="row">

       <div class="ten columns centered text-center">
          <h1>Acerca del autor<span>.</span></h1>

          <p>En este apartado te cuento un poco sobre mí.</p>
       </div>

    </div>

 </div> <!-- Page Title End-->

<!-- Content
================================================== -->
<div class="content-outer">

  <div id="page-content" class="row page">

     <div id="primary" class="eight columns">

        <section>

           <h2>Autor de Programación y más.</h2>

           <p>Hola. Mi nombre es Juan, y soy un joven que siempre está encantando de aprender más cada día.</p> 

           <p>Me interesa conocer más sobre las nuevas tecnologías, y comprender muy bien los temas con el fin de expresar luego este conocimiento de una forma más sencilla y práctica.</p>

           <p>Ya que estás aquí, déjame decirte que el término de "programación y más" surge porque hay 1 pilar adicional, además de la programación que es fundamental para el desarrollo de software: la productividad.</p>

           <p>Estoy convencido que organizarse para ser productivos es mucho más complejo que aprender a programar y dominar alguna tecnología en particular.</p>

           <p>He estudiado Ingeniería de Sistemas en la Universidad Nacional de Trujillo.</p>
          
           <p>Sin embargo, considero que la formación universitaria no es indispensable para desempeñarse como desarrollador o analista de sistemas. Es más importante sentir curiosidad y ganas de aprender.</p>

           <p>En la universidad noté que muchas de las cosas que aprendemos, luego <a href="https://www.youtube.com/watch?v=k9T_jzIFBcM" target="_blank">las olvidamos fácilmente</a>.</p>

           <p>Solemos aprender mucho sobre un tema en particular (obtenemos conocimientos más profundos), pero luego que empezamos a abordar otros temas que no tienen mucha relación, olvidamos lo antes aprendido.</p>

           <p>Es por ello que comencé a grabar videos, a fin de recordar luego (fácilmente) un tema que ya conocía. De hecho, recordar o aprender algo por primera vez sería lo mismo, si los temas estuvieran bien explicados.</p>

           <p>Muchas gracias por visitar el canal y haber llegado hasta aquí.</p>

        </section> <!-- section end -->

     </div> <!-- primary end -->

     <div id="secondary" class="four columns end">

        <aside id="sidebar">

           <div class="widget widget_contact">
              <h4>Contacto</h4>
              <p class="address">
                 Si deseas conversar sobre algo, puedes <a href="/contacto">enviarme un mensaje</a>.
              </p>

              <h4>Síguenos en</h4>
              <p>
                {% if site.author.twitter_username %}
                  Twitter: <a href="//twitter.com/{{ site.author.twitter_username }}" target="_blank">@{{ site.author.twitter_username }}</a><br>
                {% endif %}
                {% if site.author.facebook_username %}
                  Facebook: <a href="//fb.me/{{ site.author.facebook_username }}" target="_blank">Programación y más</a><br>
                {% endif %}
                {% if site.author.google_username %}
                  Google+: <a href="//plus.google.com/+{{ site.author.google_username }}" target="_blank">Programación y más</a>
                {% endif %}
              </p>
           </div>

            <div class="widget widget_text">
                <h4 class="widget-title">Ayúdame a ayudar</h4>
                <div class="textwidget">
                  <p>¿Te ha sido de ayuda alguno de mis tutoriales?</p>
                  <p>Por favor <strong>compártelo con tus colegas y amigos</strong>.</p>
                  <p>Eso me ayudará a continuar compartiendo contenido en español de forma gratuita.</p>
                </div>
            </div>

        </aside>

     </div> <!-- secondary End-->

  </div> <!-- page-content End-->

</div> <!-- Content End-->
