---
layout: default
description: Etiquetas del blog de Programación y más. Entra y aprende a programar ya.
---
<div class="content-outer">
  <div id="page-content" class="row">
    <div class="twelve columns">

      <div id="sidebar">
        <h2>Tags:</h2>
        <div class="tagcloud cf"> 
          {% for tagitem in site.tags  %}
            <a href="#{{  tagitem[0] }}">{{  tagitem[0] }}</a>   
          {% endfor %}
        </div>  
      </div>
      
      <!-- iterate through all tags on the site --> 
      {% for tagitem in site.tags %} 
      <!-- for each tag, create an anchor by using the tag name as an id --> 
      <div id="{{ tagitem[0] }}">  
        <h3> {{ tagitem[0] }} </h3>  <!-- for create a heading --> 

        <ul> <!-- create the list of posts -->
          <!-- iterate through all the posts on the site --> 
          {% for post in site.posts %} 
          <!-- list only those which contain the current tag --> 
          {% if post.tags contains tagitem[0] %} 
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endfor %}

    </div>
  </div>
</div>